<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
   <div class="container">
    <!--header-image-->

   <!-- <img src="img/header.jpg" alt="Header" class="head-img">-->
    <!--outside elements-top-->
    <img src="img/logo.png" class="logo">
    <div class="verify">Verify your account</div>
    <!--main-content-container-->
    <div class="main-content-container">
        <!--profileimage-->
        <img src="img/man.jpg" alt="" class="profile-img">
        <!--text-->
        <div class="hi-text">
            <h3>Hi {{name}},</h3>
        </div>
        <!--paragraph-->
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <!--domain name-->
        <div class="domain">
            <p class="dom-text">Domain name</p>
             <!--domain hypertext-->
            <a href="{{domainUrl}}">{{domainUrl}}</a>
        </div>
       
        <!--activate button-->
        <button type="button" class="activate" onclick="#">Activate</button>
        <!--paragraph-->
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    
    
    <!--footer-->
    <div class="footer">
        <!--text1-->
        <h5>Cheers,</h5>

        <!--text2-->
        <h3>ABSerp Automated System</h3>
        <!--line-->
        <div class="line"></div>
        <!--text3-->
        <p>This email was genereated from ABSerp, if you think this is a Spam, please do report to</p>
        <!--email-link-->
        <a href="#">info@abserp.com</a>
        <!--socialmedia-icons-->
        <div class="social-media">
            <i class="fa fa-facebook-square" style="font-size: 25px; color: #4267B2;"></i>
            <i class="fa fa-instagram" style="font-size: 25px; color: #C13584;"></i>
            <i class="fa fa-youtube-play" style="font-size: 25px; color: #FF0000;"></i>
            <i class="fa fa-linkedin-square" style="font-size: 25px; color: #0a66c2;"></i>
            <i class="fa fa-twitter-square" style="font-size: 25px; color: #1DA1F2;"></i>
        </div>
        <!--copyrights-->
        <p class="end">Copyrights © abserp</p>
    </div>
        
   </div>
</body>
</html>
